<a href="https://colab.research.google.com/github/sharunraj14/ICT_Projects/blob/main/House_pricing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

1. Load Dataset

In [2]:
df = pd.read_csv('House_Pricing.csv')

print("--- Dataset Info ---")
df.info()
print("\n--- Descriptive Statistics ---")
display(df.describe())
print("\n--- Initial Missing Values ---")
print(df.isnull().sum())

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

--- Descriptive Statistics ---

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
count,2.161300e+04,2.160900e+04,21613.000000,21609.000000,21604.000000,2.160400e+04,21613.000000,21613.000000,21610.000000,21613.000000,21613.000000,21613.000000,21612.000000,21612.000000,21612.000000,21612.000000,21613.000000
mean,4.580302e+09,5.401984e+05,3.370842,2.114732,2079.931772,1.510776e+04,1.494309,7.623467,1788.344193,291.509045,46.994864,84.402258,98077.937766,47.560048,-122.213892,1986.538914,12768.455652
std,2.876566e+09,3.673890e+05,0.930062,0.770138,918.487597,4.142827e+04,0.539989,1.105439,827.982604,442.575043,29.373411,401.679240,53.505425,0.138565,0.140830,685.404255,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,3.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1429.250000,5.040000e+03,1.000000,7.000000,1190.000000,0.000000,21.000000,0.000000,98033.000000,47.470975,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.617500e+03,1.500000,7.000000,1560.000000,0.000000,43.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,8.000000,2210.000000,560.000000,67.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

--- Initial Missing Values ---
ID                                               0
Date House was Sold                              0
Sale Price                                       4
No of Bedrooms                                   0
No of Bathrooms                                  4
Flat Area (in Sqft)                              9
Lot Area (in Sqft)                               9
No of Floors                                     0
Waterfront View                                  0
No of Times Visited                          19489
Condition of the House                           0
Overall Grade                                    0
Area of the House from Basement (in Sqft)        3
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          1
Latitude                                         1
Longitude                                        1
Living Area after Renovation (in Sqft)           1
Lot Area after Renovation (in Sqft)              0
dtype: int64

2. Remove duplicate values

In [3]:
# Remove duplicate rows
initial_rows = len(df)
df.drop_duplicates(inplace=True)
print(f"Duplicate rows removed: {initial_rows - len(df)}")

# Remove duplicate columns
duplicate_cols = []
cols = df.columns
for i in range(len(cols)):
    for j in range(i + 1, len(cols)):
        if df[cols[i]].equals(df[cols[j]]):
            duplicate_cols.append(cols[j])

df.drop(columns=duplicate_cols, inplace=True)
print(f"Duplicate columns removed: {duplicate_cols}")

Duplicate rows removed: 0
Duplicate columns removed: []

3. Handling Missing Values

In [4]:
# Median
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in num_cols:
    if df[col].isnull().any():
        median_val = df[col].median()
        df[col].fillna(median_val, inplace=True)
        print(f"Imputed numerical column '{col}' with median: {median_val}")

# Mode
cat_cols = df.select_dtypes(include=['object']).columns
for col in cat_cols:
    if df[col].isnull().any():
        mode_val = df[col].mode()[0]
        df[col].fillna(mode_val, inplace=True)
        print(f"Imputed categorical column '{col}' with mode: {mode_val}")

print("\nMissing values after imputation:", df.isnull().sum().sum())

Imputed numerical column 'Sale Price' with median: 450000.0
Imputed numerical column 'No of Bathrooms' with median: 2.25
Imputed numerical column 'Flat Area (in Sqft)' with median: 1910.0
Imputed numerical column 'Lot Area (in Sqft)' with median: 7617.5
Imputed numerical column 'Area of the House from Basement (in Sqft)' with median: 1560.0
Imputed numerical column 'Zipcode' with median: 98065.0
Imputed numerical column 'Latitude' with median: 47.5718
Imputed numerical column 'Longitude' with median: -122.23
Imputed numerical column 'Living Area after Renovation (in Sqft)' with median: 1840.0
Imputed categorical column 'No of Times Visited' with mode: Twice

Missing values after imputation: 0

/tmp/ipython-input-1546252027.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
/tmp/ipython-input-1546252027.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_val, inplace=True)

4. Outlier Removal-IQR

In [5]:
# Identify numerical columns for outlier detection

outlier_features = ['Sale Price', 'Flat Area (in Sqft)', 'Lot Area (in Sqft)']

initial_shape = df.shape[0]
for col in outlier_features:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Filtering
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

print(f"Total rows removed as outliers: {initial_shape - df.shape[0]}")

Total rows removed as outliers: 3590

5. Scaling Numerical Variables

In [6]:
scaler = StandardScaler()

features_to_scale = [col for col in num_cols if col not in ['Sale Price', 'ID']]

df[features_to_scale] = scaler.fit_transform(df[features_to_scale])

print("--- Scaled Features (First 5 rows) ---")
display(df[features_to_scale].head())

--- Scaled Features (First 5 rows) ---

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,-0.330875,-1.469091,-1.024904,-0.443258,-0.868647,-0.470639,-0.685261,-0.662914,0.499469,-0.193112,1.787339,-0.354482,-0.216239,-0.907818,-0.363280
1,-0.330875,0.343215,0.992519,0.022624,0.972433,-0.470639,0.827197,0.366380,0.633208,5.165028,0.804533,1.162954,-0.681005,-0.287308,0.104018
2,-1.433773,-1.469091,-1.619972,0.829724,-0.868647,-1.524084,-1.311632,-0.662914,1.235036,-0.193112,-0.994186,1.285188,-0.036330,1.538764,0.203398
3,0.772022,1.430599,0.107175,-0.633474,-0.868647,-0.470639,-0.883866,1.678729,0.165121,-0.193112,1.008512,-0.285047,-1.235726,-0.872360,-0.515992
4,-0.330875,-0.019246,-0.299212,0.267856,-0.868647,0.582805,0.078607,-0.662914,-0.570446,-0.193112,-0.141185,0.409299,1.372961,-0.092290,0.072066

6. Encoding Categorical Variables

In [7]:
# Label Encoding (Ordinal: Bad < Okay < Fair < Good < Excellent)

cond_map = {'Bad':1, 'Okay':2, 'Fair':3, 'Good':4, 'Excellent':5}
df['Condition of the House'] = df['Condition of the House'].map(cond_map)

# One-Hot Encoding (Nominal)
df = pd.get_dummies(df, columns=['Waterfront View'], drop_first=True)

print("--- Encoded Columns (First 5 rows) ---")
display(df[['Condition of the House', 'Waterfront View_Yes']].head())

--- Encoded Columns (First 5 rows) ---

   Condition of the House  Waterfront View_Yes
0                       3                False
1                       3                False
2                       3                False
3                       5                False
4                       3                False

7. Train-Test Split

In [8]:
# Setting target variable
X = df.drop(columns=['Sale Price', 'ID', 'Date House was Sold'], errors='ignore')
y = df['Sale Price']

# Split 80/20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

print(f"Training set size: {X_train.shape}")
print(f"Testing set size: {X_test.shape}")

Training set size: (14418, 18)
Testing set size: (3605, 18)